<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <link th:href="@{/css/start.css}" rel="stylesheet">
</head>

<body>
<div layout:fragment="content" >
    <div class="start_anonymous" sec:authorize="isAnonymous()">
        <h1>Your Resume : ResumeHong</h1>
        <p>이 페이지는 로그인하지 않은 사용자를 위한 페이지입니다.</p>
        <p>로그인을 하시면 더 많은 정보를 확인하실 수 있습니다.</p>
    </div>

    <div class="resume_ex" sec:authorize="isAuthenticated()">
        <h2>최근 나의 이력서</h2>
        <div class="resume_ex_detail">
            <h3>홍석민</h3>
            <p><strong>이메일:</strong> hong@example.com</p>
            <p><strong>연락처:</strong> 010-1234-5678</p>
            <p><strong>경력:</strong></p>
            <ul>
                <li>2020-2022: XX 회사, 프론트엔드 개발자</li>
                <li>2018-2020: XYZ 회사, 웹 디자이너</li>
            </ul>
            <p><strong>학력:</strong></p>
            <ul>
                <li>2024: 인하공업전문대학 컴퓨터시스템공학과 졸업</li>
            </ul>
        </div>

        <h2>관련 문서</h2>
        <div class="documents">
            <p>아래는 관련 문서입니다:</p>
            <ul>
                <li><a href="/resume/1" target="_blank">포트폴리오</a></li>
                <li><a href="/resume/2" target="_blank">자기소개서</a></li>
            </ul>
        </div>
    </div>


</div>
</body>
</html>