<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
  <title>이력서 리스트</title>
  <th:block layout:fragment="css">
    <link th:href="@{/css/resume.css}" rel="stylesheet">
  </th:block>
</head>

<body>
<div layout:fragment="content">
  <h1>이력서 상세 보기</h1>

  <main>
    <section class="resume-list">
      <div th:each="resume : ${resumeDetail}">
        <p>이력서 이름: <span th:text="${resume.resumeName}"></span></p>
        <p>사용자 이름: <span th:text="${resume.member.name}"></span></p>
        <p>전화번호: <span th:text="${resume.member.phone}"></span></p>
        <p>주소: <span th:text="${resume.member.address}"></span></p>
        <p>이메일: <span th:text="${resume.member.email}"></span></p>
        <p>최종학력: <span th:text="${resume.finalEducation}"></span></p>
        <p>전공: <span th:text="${resume.major}"></span></p>
        <p>경력: <span th:text="${resume.career}"></span></p>
        <p>기술스택: <span th:text="${resume.skill}"></span></p>
        <p>자격증: <span th:text="${resume.certificate}"></span></p>
        <p>가능언어: <span th:text="${resume.language}"></span></p>
        <p>자기소개: <span th:text="${resume.introduction}"></span></p>
        <div class="button-container">
          <a th:href="@{/resume/list/{resumeId}/delete(resumeId=${resume.id})}" class="btn">이력서 삭제</a>
        </div>
      </div>

    </section>
  </main>
</div>
</body>

</html>